#projects {
    margin-left: 100px;
    margin-top: 100px;
    height: 250px;
    width: 375px;
    color: white;
    border: solid 1px;
}

#projects h2 {
    color: white;
}

#issues {
    margin-left: 100px;
    margin-top: 100px;
    height: 250px;
    width: 400px;
    color: white;
    border: solid 1px;
}

#issues h2 {
    color: white;
}

#priority {
    margin-left: 100px;
    margin-top: 100px;
    height: 250px;
    width: 375px;
    color: white;
    border: solid 1px;
}

#priority h2 {
    color: white;
}

#status {
    margin-left: 100px;
    margin-top: 100px;
    height: 250px;
    width: 400px;
    color: white;
    border: solid 1px;
}

#status h2 {
    color: black;
}

.card-header a .issues-links {
    color: white;
    text-decoration: none;
}

.card-header a .issues-links :hover {
    color: green;
    text-decoration: none;
}
